<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
  <a class="navbar-brand main-heading"> &nbsp; BizBuddy </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}"
          >Dashboard <i class="fa fa-tachometer-alt" aria-hidden="true"></i
        ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}"
          >Sign out <i class="fa fa-sign-out-alt" aria-hidden="true"></i
        ></a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}"
          >Register <i class="fa fa-user-plus" aria-hidden="true"></i
        ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}"
          >Login <i class="fa fa-sign-in-alt" aria-hidden="true"></i
        ></a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
